/* style.css */

#title {
  background-color: blue;
  color: blanchedalmond;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.body {
  background-color: whitesmoke;
}

.ul {
  font-size: 44px;
  background-color: violet;
  text-align: center;
}

.odd-items {
  background-color: violet;

}

.even-items {
  background-color: lightblue;
  
}

#lentils {
  align-content: center;
}


#spaghetti {
  align-content: center;
}

#macandcheese {
  align-content: center;
}